

<div class= "quiz-show" style="overflow:auto;">

  <div class = "col-md-6 col-md-offset-3 quiz-content">
    <h3>我的《<%= @quiz.title %>》考试成绩单</h3>
    <br>
    <p><%= @quiz.description %></p>
    <br>

      <% sum = 0 %>
      <% @questions.each do |question| %>
        <% answer = @exam.answers.order("id DESC").find{ |a| a.exam_id == @exam.id && a.question_id == question.id } %>
        <%if answer.present? %>
          <% if (answer.is_aa1en == question.is_a1en) && (answer.is_bb1en == question.is_b1en) && (answer.is_cc1en == question.is_c1en) && (answer.is_dd1en == question.is_d1en) %>
            <% sum += 25 %>
          <% end %>
        <% end %>
      <% end %>
      <h4> 考试得分：<%= sum  %> </h4>

    <br>

    <hr>
    <p class="quiz-content-title">单项选择题（共4题； 每小题25分，满分100分）</p>

    <% @questions.each do |question| %>
      <div class="quiz-content-question button-style">

                <h4><%= question.content %></h4>

                <% answer = @exam.answers.order("id DESC").find{ |a| a.exam_id == @exam.id && a.question_id == question.id } %>
                <% if answer.present? %>
                  <% if answer.is_aa1en %>
                     <span class="btn btn-success"> A </span>  <%= question.answer_1%>
                  <% else %>
                     <span class="btn btn-warning"> A </span>  <%= question.answer_1%>
                  <% end %>
                    <br><br>

                  <% if answer.is_bb1en %>
                    <span class="btn btn-success"> B </span>  <%= question.answer_2%>
                  <% else %>
                    <span class="btn btn-warning"> B </span>  <%= question.answer_2%>
                  <% end %>
                  <br><br>

                  <% if answer.is_cc1en %>
                    <span class="btn btn-success"> C </span>  <%= question.answer_3%>
                  <% else %>
                    <span class="btn btn-warning"> C </span>  <%= question.answer_3%>
                  <% end %>

                  <br><br>
                  <% if answer.is_dd1en %>
                    <span class="btn btn-success"> D </span>  <%= question.answer_4%>
                  <% else %>
                    <span class="btn btn-warning"> D </span>  <%= question.answer_4%>
                  <% end %>

                <% else %>
                  您还没有做选择
                <% end %>
                <div class="pull-right">
                  <% if question.is_a1en %>
                    正确答案：<span style= "color:red;"> A </span>
                  <% elsif question.is_b1en %>
                    正确答案：<span style= "color:red;"> B </span>
                  <% elsif question.is_c1en %>
                    正确答案：<span style= "color:red;"> C </span>
                  <% elsif question.is_d1en %>
                    正确答案：<span style= "color:red;"> D </span>
                  <% end %>
                </div>
                <hr>
       </div>
     <% end %>

    <hr>
  </div>
</div>
