

<div class= "quiz-show" style="overflow:auto;">

  <div class = "col-md-6 col-md-offset-3 quiz-content">
    <h3>我的<<%= @quiz.title %>>考卷</h3>
    <br>
    <p><%= @quiz.description %></p>
    <hr>
    <p class="quiz-content-title">单项选择题（共5题； 每小题20分，满分100分）</p>
    <div class="" id= "quiz-show-js-<%= @quiz.id%>">

    <%= render :partial => "answer_form", :collection => @questions, as: :question %>

    </div>

    <hr>

    <div class="text-center" >
      <%= link_to("交卷", exam_records_quiz_path(@quiz),method: :post,  class: "btn btn-primary btn-lg") %>
    </div>

<hr>

  </div>
</div>
