<br>
<div class="row">
  <div class="col-md-6">
    <% if @photos.present? %>
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
          <%= image_tag p.image.medium.url %>
        <% else %>
          <%= image_tag p.image.thumb.url %>
        <% end %>
      <% end %>
    <% else %>
      <h4>本题无图</h4>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @exam.question %></h2>
    <div style="height: 100px;">
      <hr>
      <p>正确答案</p>

      <p>
          <%= render_a1_status(@exam) %> A.<%= @exam.answer_1 %>
          <br><br>
          <%= render_b1_status(@exam) %> B.<%= @exam.answer_2 %>
          <br><br>
          <%= render_c1_status(@exam) %> C.<%= @exam.answer_3 %>
          <br><br>
          <%= render_d1_status(@exam) %> D.<%= @exam.answer_4 %>
      </p>

     <div>试题类别: <%= @exam.category_id %></div>
    </div>

  </div>
</div>
