
<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">开始答题</h2>



  <table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>问题</th>
      <th>选项</th>
      <!-- <th>选择</th> -->
      <th>上次选择</th>
    </tr>
  </thead>


  <tbody>

      <tr>
        <td><%= @exam.name %></td>
        <td><%= @exam.question %></td>
        <td>
          <%= simple_form_for [@choice] do |f| %>
          <%= f.input :is_aa1en, :label => "A." %> <%=  @exam.answer_1 %>
          <%= f.input :is_bb1en, :label => "B." %> <%=  @exam.answer_2 %>
          <%= f.input :is_cc1en, :label => "C." %> <%=  @exam.answer_3 %>
          <%= f.input :is_dd1en, :label => "D." %> <%=  @exam.answer_4 %>
          <br><br>
          <%= f.submit "确定", class: "btn btn-default" %>
        </td>

        <td>
          <%= render_aa1_status(@choice) %> A.<%=  @exam.answer_1 %>
          <br><br>
          <%= render_bb1_status(@choice) %> B.<%=  @exam.answer_2 %>
          <br><br>
          <%= render_cc1_status(@choice) %> C.<%=  @exam.answer_3 %>
          <br><br>
          <%= render_dd1_status(@choice) %> D.<%=  @exam.answer_4 %>
        </td>


     <% end %>

   </tbody>
  </table>


</div>

<hr>


   <div class="col-md-2 col-md-offset-10">
      <%= link_to(content_tag(:i, "继续答题", class: "fa fa-reply-all"), choices_path) %>
    </div>
