<div class="admin-quizs-page col-md-8 col-md-offset-2" style="margin-top:30px;">
  <div class="pull-right">
    <%= link_to("新增试卷", new_admin_quiz_path, class: "btn btn-default") %>
  </div>
  <h3 class="text-center">新增试卷</h3>
  <hr>

  <table class =" table table-border table-strip">
    <thead>
      <tr>
        <th>商品序号</th>
        <th>商品名称</th>

      </tr>
    </thead>
    <tbody>
      <% Product.all.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.category.name %><%= product.title %></td>
        <td>
           <% product.quizzes.each do |quiz| %>
           <tr>
            <td><%= link_to quiz.title,quiz_path(quiz) %></td>
            <td>
              <%= link_to("edit", edit_admin_quiz_path(quiz)) %> |
              <%= link_to("delete", admin_quiz_path(quiz), method: :delete, data:{confirm: "确定删除吗？"})%>
            </td>
           </tr>
           <% end %>
        </td>

      </tr>
      <% end %>
    </tbody>
  </table>

</div>
