<%= @quiz.title %>
<%= @quiz.description %>

<hr>

<div class="col-md-8 col-md-offset-2" style= "flowover:auto;">
  <h2 class="text-center">添写正确答案信息</h2>
  <%= simple_form_for [:admin,@quiz,@question] do |f| %>
    <%= f.input :content, placeholder: "请输入题干信息"%>
    <%= f.input :answer_1,placeholder: "请输入A选项描述" %><%= f.input :is_a1en, :label => "A" %>
    <%= f.input :answer_2,placeholder: "请输入B选项描述" %><%= f.input :is_b1en, :label => "B" %>
    <%= f.input :answer_3,placeholder: "请输入C选项描述" %><%= f.input :is_c1en, :label => "C" %>
    <%= f.input :answer_4,placeholder: "请输入D选项描述" %><%= f.input :is_d1en, :label => "D" %>
    <%= f.input :answer_5,placeholder: "请输入E选项描述" %><%= f.input :is_e1en, :label => "E" %>
    <%= f.input :answer_6,placeholder: "请输入F选项描述" %><%= f.input :is_f1en, :label => "F" %>
    <%= f.input :imagea , as: :file %>
    <%= f.input :imageb , as: :file %>
    <%= f.input :imagec , as: :file %>
    <%= f.input :imaged , as: :file %>
    <%= f.submit "确定建立", class: "btn btn-default" %>
  <% end %>




<hr>

<h2> admin管理考试题 </h2>

<hr>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>问题</th>
      <th width="300"> 正确答案</th>
      <th>管理</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.questions.each do |question| %>
    <tr>
      <td>
         <p><%= question.id %></p>
      </td>
       <td>
         <%= question.content %>
       </td>
       <td>

           A.<%= question.answer_1 %>
               <% if question.imagea.present? %>
                <%= image_tag(question.imagea.url) %>
               <% end %>
           <br><br>
           B.<%= question.answer_2 %>
               <% if question.imageb.present? %>
                <%= image_tag(question.imageb.url) %>
               <% end %>
           <br><br>
           C.<%= question.answer_3 %>
               <% if question.imagec.present? %>
                <%= image_tag(question.imagec.url) %>
               <% end %>
           <br><br>
           D.<%= question.answer_4 %>
               <% if question.imaged.present? %>
                <%= image_tag(question.imaged.url) %>
               <% end %>

       </td>

       <td>
         <%= link_to("edit", edit_admin_quiz_question_path(@quiz,question))%> |
         <%= link_to("delete", admin_quiz_question_path(@quiz,question), method: :delete, data: { comfirm_with: "确定删除吗?"})%>
       </td>
     </tr>
     <% end %>
   </tbody>
 </table>

 </div>
