<!--- Header section  -->
<div class="container-fluid">
  <div class="row">
    <header class="main-header">
      <div class="header-inner">

        <div class="header-center">
          <a href="/">心 路</a>
        </div>

        <div class="header-left pull-left">
          <!-- Search area -->
          <%= form_tag search_products_path , :method => :get, :class => "form-search" do %>
            <input type="text", class="search-input", name="q" value="<%= params[:q] %>" placeholder="请输入关键词搜索...">
            <button type="submit" class="search-icon">
              <span class="fa fa-search fa-lg"></span>
            </button>
          <% end %>
          <!-- End Search -->
        </div>

        <div class="header-right pull-right">
          <ul class="nav navbar-nav navbar-right">

            <li>
              <%= link_to products_path do %>
                 <i class="fa fa-home fa-lg"></i>心路课程
              <% end %>
            </li>
            <li>
              <%= link_to carts_path do %>
                购物车 <i class="fa fa-shopping-cart fa-lg"></i> (<%= current_cart.products.count %>)
              <% end %>
            </li>
            <% if !current_user %>
              <li>
                <div class="log-in">
                  <%= link_to("登录", new_user_session_path, class: "btn btn-xs header-user-item") %>
                </div>
              </li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <% if current_user.nickname.present? %>
                    Hi, <%= current_user.nickname %>
                  <% else %>
                    Hi, <%= current_user.email %>
                  <% end %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.admin? %>
                    <li>
                      <%= link_to(content_tag(:i, " 后台管理", class: "fa fa-lock"), admin_products_path) %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to(content_tag(:i, " 我的课程", class: "fa fa-book"), account_orders_path) %>
                  </li>
                  <li>
                    <%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-gratipay"), favorites_path ) %>
                  </li>
                  <li><%= link_to(content_tag(:i, " 编辑账户", class: "fa fa-pencil-square-o"),edit_user_registration_path) %></li>
                  <li>
                    <%= link_to(content_tag(:i, " 账户退出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= render "common/flashes" %>
    </header>

  </div>
</div>

<!---  end ----->

<!--- 首页动图 ----->
<div class="header_placeholder h80"></div>
 <div class="banner-v2">
  <div class="banner-img">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="javacript:;">
          <img src="https://ws1.sinaimg.cn/large/006tNc79ly1ffz25t5uplj31hc0zj7dc.jpg" />
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ws1.sinaimg.cn/large/006tNbRwly1fg0ujyyn40j31kw0zk4ek.jpg" />
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ws1.sinaimg.cn/large/006tNbRwly1fg0ujxwqxdj31kw0zk7cb.jpg" />
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
  </div>

<div class="banner-detail">
  <!-- <h2 class="banner-logo ">
    banke
  </h2> -->
  <div  class="banner-slogan">
    <h1>
      <span class="sub-slogan"> 铁路部 </span>

    </br></br><p>————铁路在线考试系统</br><br> </p>
    </h1>


  </div>
  <div class="welcome-button">
      <%= link_to(content_tag(:i, '开始考试', class: 'fa fa-hand-o-right'), products_path,  class: "btn btn-primary-welcome") %>
   </div>
  </div>
 </div>


<!-- end 首页动图 ----->

<!-- hot-products -->

<div class="row" id="hot-products">

  <div class="module-name decorative">
    <span>热门课</span>
  </div>
  <div class="container" style="margin-bottom:60px;">
      <div class="col-md-offset-1 col-md-10">
              <div id="myCarousel" class="carousel slide">

                  <!-- Carousel items -->
                  <div class="carousel-inner">

                      <div class="item active">
                          <div class="row">

                              <div class="col-sm-3">
                                <div class="product-card-block">

                                  <div class="img-block">

                                    <%= link_to product_path(@p1) do %>
                                    <% if @p1.photos.present? %>
                                        <%= image_tag(@p1.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>

                                  </div>
                                  <div class="info-block">

                                    <p >
                                      <span><%= link_to(@p1.title, product_path(@product1)) %></span>
                                      </br>
                                      <span  class="price" >￥ <%= @p1.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p1) %>
                                            <%= link_to favorite_product_path(@p1), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p1), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p1), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p2) do %>
                                    <% if @p2.photos.present? %>
                                        <%= image_tag(@p2.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block ">
                                    <p >
                                      <span> <%= link_to(@p2.title, product_path(@product2))  %> </span>
                                      </br>
                                      <span  class="price" >￥ <%= @p2.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p2) %>
                                            <%= link_to favorite_product_path(@p2), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p2), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p2), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p3) do %>
                                    <% if @p3.photos.present? %>
                                        <%= image_tag(@p3.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span> <%= link_to(@p3.title, product_path(@product3))  %> </span>
                                      </br>
                                      <span  class="price" >￥ <%= @p3.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p3) %>
                                            <%= link_to favorite_product_path(@p3), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p3), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p3), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p4) do %>
                                    <% if @p4.photos.present? %>
                                        <%= image_tag(@p4.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span> <%= link_to(@p4.title, product_path(@product4))  %> </span>
                                      </br>
                                      <span  class="price" >￥ <%= @p4.price %> </span>
                                      <span class="like pull-right" >
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p4) %>
                                            <%= link_to favorite_product_path(@p4), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p4), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p4), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!--/row-->
                      </div>
                      <!--/item-->
                      <div class="item">
                          <div class="row">
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                <div class="img-block">

                                  <%= link_to product_path(@p5) do %>
                                  <% if @p5.photos.present? %>
                                      <%= image_tag(@p5.photos[0].image.thumb.url) %>
                                  <% else %>
                                    <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                  <% end %>
                                  <% end %>

                                </div>
                                <div class="info-block">

                                  <p >
                                    <span> <%= link_to(@p5.title, product_path(@product5))  %> </span>
                                    </br>
                                    <span  class="price" >￥ <%= @p5.price %> </span>
                                    <span class="like pull-right">
                                      <% if user_signed_in? %>
                                        <% if !current_user.is_fan_of?(@p5) %>
                                          <%= link_to favorite_product_path(@p5), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to unfavorite_product_path(@p5), :class => "unlike ",method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <%= link_to favorite_product_path(@p5), :class => "like ",  method: :post do %>
                                          <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                        <% end %>
                                      <% end %>
                                    </span>
                                  </p>

                                </div>
                              </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">

                                    <%= link_to product_path(@p6) do %>
                                    <% if @p4.photos.present? %>
                                        <%= image_tag(@p6.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>

                                  </div>
                                  <div class="info-block">

                                    <p >
                                      <span> <%= link_to(@p6.title, product_path(@product6))  %> </span>
                                      </br>
                                      <span  class="price" >￥ <%= @p6.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p6) %>
                                            <%= link_to favorite_product_path(@p6), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p6), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p6), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>

                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">

                                    <%= link_to product_path(@p7) do %>
                                    <% if @p7.photos.present? %>
                                        <%= image_tag(@p7.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>

                                  </div>
                                  <div class="info-block">

                                    <p >
                                      <span> <%= link_to(@p7.title, product_path(@product7))  %> </span>
                                      </br>
                                      <span  class="price" >￥ <%= @p7.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p7) %>
                                            <%= link_to favorite_product_path(@p7), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p7), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p7), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>

                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">

                                    <%= link_to product_path(@p8) do %>
                                    <% if @p8.photos.present? %>
                                        <%= image_tag(@p8.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>

                                  </div>
                                  <div class="info-block">

                                    <p >
                                      <span> <%= link_to(@p8.title, product_path(@product8))  %> </span>
                                      </br>
                                      <span  class="price" >￥ <%= @p8.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p8) %>
                                            <%= link_to favorite_product_path(@p8), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p8), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p8), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                          <% end %>
                                        <% end %>

                                      </span>
                                    </p>

                                  </div>

                                </div>
                              </div>

                          </div>
                          <!--/row-->
                      </div>
                      <!--/item-->

                  </div>
                  <!--/carousel-inner-->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
              <!--/myCarousel-->

      </div>
  </div>
</div>
  <!-- end of hot products -->


<!-- our service and -->

<div id="service" class="row">

  <div class="module-name decorative">
    <span>心路能帮您解决什么</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="service-item-img text-center">
          <img src="http://ww2.sinaimg.cn/large/006tNc79ly1fft5c9piyaj30hs0dtjsm.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>焦虑</h4><br />
          <p>给身处大海深处焦虑的你一盏明灯</p>
          <p>帮您快速找到静谧的海岸 </p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="http://ww4.sinaimg.cn/large/006tNc79ly1fft5ccfugwj30hs0g9aao.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>迷茫</h4><br />
          <p>给身处十字路口的你一个路标</p>
          <p>为您指引正确的方向</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="http://ww4.sinaimg.cn/large/006tNc79ly1fft5cf6lmzj30hs0dc0t5.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>困惑</h4><br />
          <p>给正在攫取知识的你一个宽阔明朗的平台</p>
          <p>为您提供最优质清新的养分</p>
        </div>

    </div>
  </div>

</div>
</div>

<!-- end of our service -->



<!--          我新加的在这里          -->
<!--          我新加的在这里          -->


<!-- 1 -->

<div class="lp-section-3 clearfix">
  <div class="content-3">
    <div class="feature-title">
      <div class="short-line"></div>
      <h2>试题分类</h2>
    </div>
    <div class="feature-block">
      <a href="http://localhost:3000/jobs/8">
      <img id="trip1" src="https://ws2.sinaimg.cn/large/006tNc79ly1ffz3406emcj30sg0izabi.jpg">
      </a>
      <br>
      <a href="http://localhost:3000/jobs/8">
      <h3>XXXXXXXX</h3>
      </a>
    </div>
    <div class="feature-block">
      <a href="http://localhost:3000/jobs/6">
      <img id="trip1" src="https://ws2.sinaimg.cn/large/006tNc79ly1ffz33zxdtaj30sg0iydih.jpg">
    </a>
      <br>
      <a href="http://localhost:3000/jobs/6">
      <h3>XXXXXXXX</h3>
      </a>
    </div>
    <div class="feature-block">
      <a href="http://localhost:3000/jobs/7">
      <img id="trip1" src="https://ws3.sinaimg.cn/large/006tNc79ly1ffz33zkg7sj30qf0evjs6.jpg">
    </a>
      <br>
      <a href="http://localhost:3000/jobs/7">
      <h3>XXXXXXXX</h3>
      </a>
    </div>
    <div class="feature-block">
      <a href="http://localhost:3000/jobs/10">
      <img id="trip1" src="https://ws4.sinaimg.cn/large/006tNc79ly1ffz33zdmayj30sg0izdgz.jpg">
      </a>
      <br>
      <a href="http://localhost:3000/jobs/10">
      <h3>XXXXXXXX</h3>
      </a>
    </div>
    <div class="feature-block">
      <a href="http://localhost:3000/jobs/11">
      <img id="trip1" src="https://ws4.sinaimg.cn/large/006tNc79ly1ffz33yup80j30sg0iztbf.jpg">
      </a>
      <br>
      <a href="http://localhost:3000/jobs/11">
      <h3>XXXXXXXX</h3>
      </a>
    </div>
    <div class="feature-block">
      <a href="http://localhost:3000/jobs/12">
      <img id="trip1" src="https://ws2.sinaimg.cn/large/006tNc79ly1ffz33z47hoj30sg0iz76h.jpg">
      </a>
      <br>
      <a href="http://localhost:3000/jobs/12">
      <h3>XXXXXXXX</h3>
      </a>
    </div>
  </div>
</div>

<!-- 2 -->
<div class="part2">
<section id="testimonial" class="talk-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <div class="short-line"></div>
        <h2 class="section-title">资讯</h2>
        <div id="talk-about-us" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
            <li data-target="#talk-about-us" data-slide-to="1" class=""></li>
            <li data-target="#talk-about-us" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <strong>资讯标题</strong>
              <img src="https://ws3.sinaimg.cn/large/006tNbRwly1ffzqpcmomtj30hs0bu3zj.jpg" alt="资讯">
              <p>。。。。。。。。。。。。。。此处省略n个字。。。。。。。。。。。。。。。。。</p>
            </div>
            <div class="item">
              <strong>资讯标题</strong>
              <img src="https://ws3.sinaimg.cn/large/006tNbRwly1ffzqp78kr6j30hs0ay0t3.jpg" alt="资讯">
              <p>。。。。。。。。。。。。。。此处省略n个字。。。。。。。。。。。。。。。。。</p>
            </div>
            <div class="item">
              <strong>资讯标题</strong>
              <img src="https://ws3.sinaimg.cn/large/006tNbRwly1ffzqp7lw0uj30hs0bugme.jpg" alt="资讯">
              <p>。。。。。。。。。。。。。。此处省略n个字。。。。。。。。。。。。。。。。。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<!-- 3 -->
<div class="lp-section-4 clearfix">
<div class="content_body_on">
  <br />
  <br />
  <div class="feature-title">
    <div class="short-line"></div>
    <h2 align="center">考试指南</h2>
    <br />
  </div>
        <div class="content_body" style="padding: 55px 0px;">
            <ul class="banners clearfix">
              <li class="banners_li">
                    <a>
                        <img src="https://ws2.sinaimg.cn/large/006tNbRwly1ffzsis14x5j30bu0buaao.jpg"><div>
                            <h3>kao'shi'zhi</h3>
                            <p>Today's warehouse holy park is open. Remember the first time in 1993, when the ticket is also sold. </p>
                        </div>
                    </a>
                </li>
                <li class="banners_li">
                    <a>
                        <img src="https://ws4.sinaimg.cn/large/006tNbRwly1ffzsiruj5nj30ay0ayjrn.jpg"><div>
                            <h3>f'fe'e'e'e</h3>
                            <p > Everybody spent five cents to buy a ticket. Later, the park opened to the outside</p>
                        </div>
                    </a>
                </li>
                <li class="banners_li banners_li_last">
                    <a>
                        <img src="https://ws1.sinaimg.cn/large/006tNbRwly1ffzsirnw5jj30bu0buaay.jpg"><div>
                            <h3>f'ffff'f</h3>
                            <p>That day, under the drizzle, building on the suspension. </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
<!-- 4 -->
<div class="lp-section-6 clearfix">
  <div class="content-3">
    <div class="feature-title">
      <h4 align="center"; class="oblique">We have the perfect job to hire the solution, choose we equal to the choice of rest assured.</h4>
      <br />
      <br />
        <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">了解更多</a></p>
    </div>
</div>
</div>

<!-- 5 -->
  <div class="short-line"></div>
  <p class="des">合作企业</p>
  <div class="content-4 content-5">

    <div class="list">
      <img src="http://ww4.sinaimg.cn/large/006tNc79ly1fewpf5hhalj305x022mxv.jpg">
      <img src="http://ww1.sinaimg.cn/large/006tNc79ly1fewpnfd2t2j30e804e74h.jpg">
      <img src="http://ww4.sinaimg.cn/large/006tNc79ly1fewprmgcoyj3064032dg5.jpg">
      <img src="http://ww4.sinaimg.cn/large/006tNc79ly1fewpwzvpavj30go04f0tm.jpg">
      <img src="http://ww3.sinaimg.cn/large/006tNc79ly1fewqh0j6wxj30hh03zjs6.jpg">
      <img src="http://ww1.sinaimg.cn/large/006tNc79ly1fewu4mqhd2j30p00b40u1.jpg">
      <img src="http://ww3.sinaimg.cn/large/006tNc79ly1fewrgtfr3vj30p005ymz4.jpg">
      <img src="http://ww2.sinaimg.cn/large/006tNc79ly1fewrrtgzo5j30p005y75x.jpg">
      <img src="http://ww2.sinaimg.cn/large/006tNc79ly1fewrxe81saj30p007740p.jpg">
    </div>
    </div>
    <br />
    <p class="oblique">More exciting, created by you……</p>

    <br />
    <br />

</div>
</div>

<!--    我新加的 完    -->




<!-- customer feedback -->

<div id="resources" class="row">
  <div class="module-name decorative">
    <span>迷路时推荐多看看他们</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff9ewho17tj30fs0fswfa.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            微信公众号：Xdite黑客成长<br>
            Facebook全球Hackathon冠军、打造全栈工程师的高手<br>
            全栈营创始人、极速读书创始人<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - Xdite
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ff9ewn4328j304t06cq31.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            微信公众号：学习学习再学习<br>
            比特币大咖、连续创业者<br>
            天使投资人、新生大学创始人<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 李笑来
          </p>

          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff9ewwgbp3j306w06wdfw.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            微信公众号：罗辑思维<br>
            自媒体视频脱口秀《罗辑思维》主讲人<br>
            得到App创始人<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 罗振宇
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- end of customer feedback -->

<!-- call-to-action -->

<div id="call-to-action" class="row">
  <div class="text-center">
    <%= link_to("心路启程 <i class='fa fa-arrow-right'></i>".html_safe, products_path, class: "btn btn-info btn-lg") %>
  </div>
</div>

<!-- end of call-to-action -->

<!-- question -->


<div id="question" class="row">
  <div class="module-name decorative">
    <span>FAQ</span>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-3 col-sm-6">
    <p class="sub-question"><b>Q：</b>课程如何报名，如何缴费？</p>
    <p class="answer"><b>A：</b>心路的上架课程均可添加进购物车，部分课程免费，付款课程付款成功后，即可参加该课程哦</p>
    </div>
    <div class="col-md-3 col-sm-6">
    <p class="sub-question"><b>Q：</b>如何理解心路这个网站？</p>
    <p class="answer"><b>A：</b>心路为您提供最科学的心理学知识，掌握最前沿的心理学动态，了解权威的心理学派，让每一个人都找到属于自己的心路历程</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>付费后可以退款吗？</p>
      <p class="answer"><b>A：</b>心路为虚拟产品，如果您付款后，不给予退款哦</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>这里有线下活动吗？</p>
      <p class="answer"><b>A：</b>心路为满足伙伴们的需求，会定期在举行线下交流及公开讲座，让心理学贴近生活，走进你我</p>
    </div>
  </div>
</div>


<!-- End of question -->

<!--  Gotop index -->

<div class="index">
  <i class="fa fa-arrow-up"></i>
</div>

<!-- end of Gotop index -->

<!-- Footer -->


<div class="footer">
  <div class="copyright">
    <div class="design">
      <span><%= link_to '关于我们', about_path %></span>  <span><%= link_to '联系我们', about_path %></span>
      <p>@Copyright 2017 心路 由<span>马鑫磊</span> 和 <span>trony</span>共同打造</p>
      <p>属于自己的心路历程</p>
    </div>
  </div>
</div>

<!-- End of Footer -->
