<br><br><br>

<hr>
<div class="#">
<h2> 考试结果 </h2>
</div>
<hr>
<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="50"> 对错 </th>
      <th width="500">问题</th>
      <th width="300"> 我的答案 </th>
      <th width="300"> 正确答案 </th>

    </tr>
  </thead>
  <tbody>
    <% @exams.each do |exam| %>
    <tr>
      <td>
         <%= exam.name %>
      </td>
      <% exam.choices.each do |choice| %>
      <td>
        <% if (choice.is_aa1en == choice.exam.is_a1en) && (choice.is_bb1en == choice.exam.is_b1en) && (choice.is_cc1en == choice.exam.is_c1en) && (choice.is_dd1en == choice.exam.is_d1en) %>
             <i class="fa fa-check"></i>
           <% else %>
            <i class="fa fa-close"></i>
           <% end %>
      </td>

       <td>
         <%= exam.question %>
       </td>
       <td>
         <%= render_aa1_status(choice) %> A.<%= exam.answer_1 %>
         <br><br>
         <%= render_bb1_status(choice) %> B.<%= exam.answer_2 %>
         <br><br>
         <%= render_cc1_status(choice) %> C.<%= exam.answer_3 %>
         <br><br>
         <%= render_dd1_status(choice) %> D.<%= exam.answer_4 %>
       </td>

      <td>
        <%= render_a1_status(exam) %> A.<%= exam.answer_1 %>
        <br><br>
        <%= render_b1_status(exam) %> B.<%= exam.answer_2 %>
        <br><br>
        <%= render_c1_status(exam) %> C.<%= exam.answer_3 %>
        <br><br>
        <%= render_d1_status(exam) %> D.<%= exam.answer_4 %>
      </td>
      <% end %>
      <% end %>
     </tr>
   </tbody>
 </table>

 <%= @choice.score %>
