<div class="products-1">

  <h4>翻越高考电子试题</h4>

  <hr>

  <div class="filter">
    <span><%= link_to("热门", products_path(:order => "by_viewed")) %><i class="fa fa-arrow-down" ></i></span>
    <span><%= link_to("收藏", products_path(:order => "by_fans")) %><i class="fa fa-arrow-down"></i></span>
    <span><%= link_to("最新课程", products_path) %><i class="fa fa-arrow-down"></i></span>
    <!-- <span><%= link_to("销量", products_path(:order => "by_product_quantity")) %><i class="fa fa-arrow-down"></span> -->
  </div>

  <div class="row">

      <div id="pins" class="transitions-enabled">
        <%= render :partial => "product_items", :collection => @products, :as => :product %>
      </div>
  </div>
  <p class=" text-center ending">
    没有更多商品了
  </p>

  <div class="index">
    <i class="fa fa-arrow-up"></i>
  </div>
</div>
